name: Build Kernel LG G8X

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            git bc bison flex build-essential \
            libssl-dev libelf-dev zlib1g-dev \
            clang lld llvm \
            gcc-aarch64-linux-gnu gcc-arm-linux-gnueabi

      - name: Build kernel
        run: |
          mkdir out
          export ARCH=arm64
          export CC=clang
          make O=out vendor/dragon_mh2lm_defconfig
          make O=out -j$(nproc)

      - name: Upload Image
        uses: actions/upload-artifact@v4
        with:
          name: kernel-image
          path: out/arch/arm64/boot/Image
